# Template my.cnf for PXC
# Edit to your requirements.

[mysqld]

log_bin

binlog_format                  = ROW
datadir                        = /var/lib/mysql

wsrep_cluster_address          = gcomm://10.91.142.80,10.91.142.82,10.91.142.88
wsrep_provider                 = /usr/lib64/galera3/libgalera_smm.so

wsrep_slave_threads            = 8
wsrep_cluster_name             = pxc56-cluster
wsrep_node_name                = pxc56-2
wsrep_sst_method                = xtrabackup-v2
wsrep_sst_auth                  = "sstuser:s3cret"
wsrep_node_address              = 10.91.142.82

#innodb_locks_unsafe_for_binlog = 1
innodb_autoinc_lock_mode       = 2


# PZ Demo Tuning

max_connections=512
table_open_cache=10000
thread_cache_size=64

expire_logs_days=1

innodb_buffer_pool_size=8G
innodb_log_file_size=1G
innodb_log_buffer_size=32M
innodb_flush_method=O_DIRECT
innodb_change_buffer_max_size=5
innodb_max_purge_lag=100000
innodb_max_purge_lag_delay=100000
innodb_monitor_enable="%"
innodb_purge_threads=8
innodb_io_capacity=500
innodb_flush_neighbors=0

long_query_time=0
log_slow_verbosity=full
slow_query_log_use_global_control=all
log_slow_rate_type=query
slow_query_log_always_write_time=1
log_slow_rate_limit=10




[mysqld_safe]
pid-file = /run/mysqld/mysql.pid
syslog


!includedir /etc/my.cnf.d
