# Percona Server template configuration

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

# custom

server-id=1
log_bin=mysql-bin
gtid-mode=ON
enforce_gtid_consistency=1
log_slave_updates=1
master-info-repository=table
relay-log-info-repository=table
binlog_row_image=minimal
# SLAVE ONLY super_read_only=1
sync_binlog=0
innodb_flush_log_at_trx_commit=2

#query_response_time_stats=ON
userstat=ON


# PZ Demo Tuning

max_connections=512
table_open_cache=10000
# 5.7 only validate-password = off
thread_cache_size=64

expire_logs_days=1

innodb_buffer_pool_size=8G
innodb_log_file_size=1G
innodb_log_buffer_size=32M
innodb_flush_method=O_DIRECT
innodb_change_buffer_max_size=5
innodb_max_purge_lag=100000
innodb_max_purge_lag_delay=100000
innodb_monitor_enable="%"
innodb_purge_threads=8
innodb_io_capacity=500
innodb_flush_neighbors=0
# Not on this node performance_schema_instrument='%=on'

# Not on this node tokudb_cache_size=2G

key_buffer_size=512M

# query_cache_type=1
# query_cache_size=64M

long_query_time=0
log_slow_verbosity=full
slow_query_log_use_global_control=all
log_slow_rate_type=query
slow_query_log_always_write_time=1
log_slow_rate_limit=10



[mysqld_safe]
open_files_limit=16384
